table{
    font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
    width: 100%;
}

td,th{
    border-bottom:1px #dddddd solid;
    text-align: left;
    padding: 8px;
}

.striped:nth-child(even){
    background-color: #dddddd;
}
.hover:hover{
    background-color: #61dafb;
}